%h1 Breakdown
%h2= link_to @job.ref, @job

%ul
	%li.list-group-item.list-group-item-success
		Fees Paid
		= number_to_currency(@job.fees_paid, unit: "&pound; ".html_safe)

	- @job.tasks.each do |t|
		- next unless t.is_financial
		%li{ :class => "list-group-item #{t.task_complete? ? "list-group-item-success" : "financial"}" }
			= t.title
			= number_to_currency(t.cost, unit: "&pound; ".html_safe)

	- @job.notes.each do |n|
		%li{ :class => "list-group-item financial" }
			= n.title
			= number_to_currency(n.cost, unit: "&pound; ".html_safe)

= link_to "Index", finances_path