:javascript
	jQuery(function() {
		jQuery( "#note_the_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#note_the_date" ).datepicker( "option", "defaultDate", "#{@note.the_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @note.the_date.strftime('%d %b %Y')}" );
	});

= form_for(@note, :html => { :class => "form-horizontal", :role => "form" }) do |f|
	- if @note.errors.any?
		#error_explanation
			%h2
				= pluralize(@note.errors.count, "error")
				prohibited this note from being saved:</h2>

			%ul
				- @note.errors.full_messages.each do |msg|
					%li= msg

	%h2= @note.job.ref if @note.job

	= hidden_field_tag :from, params[:from] if params[:from] && !params[:from].blank?
	- if !@note.job
		.form-group
			= f.label :job, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :job_id, options_for_select(Job.for_select), {}, :class => "form-control"
	.form-group
		= f.label :Date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @note.the_date.blank? ? (@note.created_at.blank? ? DateTime.now.strftime("%d %b %Y") : @note.created_at.strftime("%d %b %Y")) : @note.the_date.strftime("%d %b %Y")
			= f.text_field :the_date, :value => val, :class => "form-control autofocus"

	.form-group
		= f.label :title, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :title, :class => "form-control autofocus"

	.form-group
		= f.label :text, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :text, :class => "form-control", :rows => "5"

	.form-group
		= f.label :type, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :note_type, options_for_select(Note::NoteType.for_select, @note.note_type), {}, :class => "form-control"

	.form-group
		= f.label :cost, :class => "control-label col-sm-2"
		.col-sm-5
			.input-group
				%span.input-group-addon &pound;
				= f.number_field :cost, :class => "form-control", :step => "any"
		.col-sm-2
			.checkbox
				%label
					= f.check_box :paid
					Paid 

	.form-group
		= f.label :time_taken, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :time_taken, :class => "form-control", :step => "any"

	.form-group
		= f.label :mileage, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :mileage, :class => "form-control", :step => "any"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"
