.pull-right
	= link_to '<span class="glyphicon glyphicon-plus"></span> Add Note'.html_safe, new_note_path, :class => "btn btn-default" if is_admin?

%h1 Listing Notes

%ul
	- @jobs.each do |job|
		%li.success
			%div{ :"data-toggle" => "collapse", :"data-target" => "#notes#{job.id}", :style => "cursor:pointer;" }
				= link_to( job.ref + " " + job.title, job)

			%ul{ :id => "notes#{job.id}", :style => "height:0px;", :class => "collapse" }
				- job.notes.order("the_date ASC").each do |note|
					%li
						= note.the_date.strftime("%b %m %Y %H:%M") if note.the_date
						= note.title
						= note.text
						= note.note_type
						= number_to_currency(note.cost.to_s, unit: "&pound; ".html_safe)
						= note.time_taken
						= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, note, html = {:title => "Show"}
						= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_note_path(note), html = {:title => "Edit"}
