.pull-right
	= link_to '<span class="glyphicon glyphicon-plus"></span> Add Note'.html_safe, new_note_path, :class => "btn btn-default" if is_admin?

%h1 Listing Notes

%ul.notes
	- @jobs.each do |job|
		%li.success
			%div{ :"data-toggle" => "collapse", :"data-target" => "#notes#{job.id}", :style => "cursor:pointer;" }
				= link_to( job.reference, job)
				= job.parties + " : " + job.title

			%ul.note.collapse{ :id => "notes#{job.id}", :style => "height:0px;" }
				- job.notes.order("the_date ASC").each do |note|
					%li
						%span.the-date= note.the_date.strftime("%d %b %Y %H:%M") if note.the_date
						%span.title{ :"data-toggle" => "tooltip", :title => "", :"data-original-title" => "#{truncate(note.text, :length => 168)}", :style => "cursor:default;" }= note.title
						%span.type= Note::NoteType::NAMES[note.note_type]
						%span.paid= number_to_currency(note.cost, unit: "&pound; ".html_safe) if note.paid && !note.cost.blank?
						%span.owing= number_to_currency(note.cost.to_s, unit: "&pound; ".html_safe) if !note.paid&& !note.cost.blank?
						%span.time= note.time_taken.to_s + " h".html_safe if !note.time_taken.blank?
						= link_to "<button type='button' class='btn btn-default btn-xs pull-right'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, note, html = {:title => "Show"}
					%div{ :style => "clear:both;" }

:javascript
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
	});
