%p#notice= notice

%h1
	= link_to @note.job.ref, job_path(@note.job) if @note.job
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_note_path(@note), html = {:title => "Edit Note"}

= link_to '<< All Notes', notes_path

%h2= @note.title

.form-horizontal
	.form-group
		%strong.col-sm-3 Date:
		.col-sm-4
			= @note.the_date.strftime("%d %b %Y") if !@note.the_date.blank?

	.form-group
		%strong.col-sm-3 Text:
		.col-sm-4
			= @note.text

	.form-group
		%strong.col-sm-3 Type:
		.col-sm-4
			= Note::NoteType::NAMES[@note.note_type] if !@note.note_type.blank?

	.form-group
		%strong.col-sm-3 Cost:
		.col-sm-4
			= number_to_currency(@note.cost.to_s, unit: "&pound; ".html_safe)

	.form-group
		%strong.col-sm-3 Time:
		.col-sm-4
			= @note.time_taken
			h

	.form-group
		%strong.col-sm-3 Mileage:
		.col-sm-4
			= @note.mileage
