%p#notice= notice

%p
	%strong Title:
	= @note.title

%p
	%strong Text:
	= @note.text

%p
	%strong Type:
	= @note.note_type

%p
	%strong Cost:
	= number_to_currency(@note.cost.to_s, unit: "&pound; ".html_safe)

%p
	%strong Time:
	= @note.time_taken

- if @note.job
	= link_to "Job", job_path(@note.job)
	|
= link_to 'Edit', edit_note_path(@note)
|
= link_to 'Index', notes_path
