:javascript
	jQuery(function() {
		jQuery( "#task_tentative_due_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#task_tentative_due_date" ).datepicker( "option", "defaultDate", "#{@task.tentative_due_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @task.tentative_due_date.strftime('%d %b %Y')}" );

		jQuery( "#task_due_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#task_due_date" ).datepicker( "option", "defaultDate", "#{@task.due_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @task.due_date.strftime('%d %b %Y')}" );

		jQuery( "#task_party_a_complete_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#task_party_a_complete_date" ).datepicker( "option", "defaultDate", "#{@task.party_a_complete_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @task.party_a_complete_date.strftime('%d %b %Y')}" );

		jQuery( "#task_party_b_complete_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#task_party_b_complete_date" ).datepicker( "option", "defaultDate", "#{@task.party_b_complete_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @task.party_b_complete_date.strftime('%d %b %Y')}" );

		jQuery( "#task_complete_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#task_complete_date" ).datepicker( "option", "defaultDate", "#{@task.complete_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @task.complete_date.strftime('%d %b %Y')}" );
	});

= form_for(@task, :html => { :class => "form-horizontal", :role => "form" }) do |f|
	- if @task.errors.any?
		#error_explanation
			%h2
				= pluralize(@task.errors.count, "error")
				prohibited this task from being saved:

			%ul
				- @task.errors.full_messages.each do |msg|
					%li= msg

	%h2= @task.job.title if @task.job

	- if !@task.job
		.form-group
			= f.label :job, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :job_id, options_for_select(Job.for_select), {}, :class => "form-control"
	.form-group
		= f.label :title, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :title, :class => "form-control"

	.form-group
		= f.label :text, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :text, :class => "form-control", :rows => "5"

	.form-group
		= f.label :tentative_due_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @task.tentative_due_date.blank? ? "" : @task.tentative_due_date.strftime("%d %b %Y")
			= f.text_field :tentative_due_date, :value => val, :class => "form-control autofocus"

	.form-group
		= f.label :due_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @task.due_date.blank? ? "" : @task.due_date.strftime("%d %b %Y")
			= f.text_field :due_date, :value => val, :class => "form-control"

	.form-group
		= f.label :party_a_complete_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @task.party_a_complete_date.blank? ? "" : @task.party_a_complete_date.strftime("%d %b %Y")
			= f.text_field :party_a_complete_date, :value => val, :class => "form-control"

	.form-group
		= f.label :party_b_complete_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @task.party_b_complete_date.blank? ? "" : @task.party_b_complete_date.strftime("%d %b %Y")
			= f.text_field :party_b_complete_date, :value => val, :class => "form-control"

	.form-group
		= f.label :complete_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @task.complete_date.blank? ? "" : @task.complete_date.strftime("%d %b %Y")
			= f.text_field :complete_date, :value => val, :class => "form-control"

	.form-group
		= f.label :sort_order, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :sort_order, :class => "form-control"

	.form-group
		.col-sm-offset-2.col-sm-10
			.checkbox
				%label
					= f.check_box :is_financial
					Finincial task 

	.form-group
		= f.label :amount, :class => "control-label col-sm-2"
		.col-sm-5
			.input-group
				%span.input-group-addon &pound;
				= f.text_field :cost, :class => "form-control"
		.col-sm-2
			.checkbox
				%label
					= f.check_box :paid
					Paid 

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"

