.pull-right
	= link_to '<span class="glyphicon glyphicon-plus"></span> Add Task'.html_safe, new_task_path, :class => "btn btn-default" if is_admin?

%h1 Task List

%ul.tasks
	- @jobs.each do |job|
		%li.success
			%div{ :"data-toggle" => "collapse", :"data-target" => "#tasks#{job.id}", :style => "cursor:pointer;" }
				= link_to( job.reference, job)
				= job.parties + " : " + job.title

			%ul.task{ :id => "tasks#{job.id}", :style => "height:0px;", :class => "collapse" }
				- job.tasks.order("sort_order ASC").each do |task|
					%li{ :class => "#{'financial' if task.is_financial}" }
						%span.order= task.sort_order
						%span.checked
							- if task.task_complete?
								%span.glyphicon.glyphicon-ok
						%span.title{ :"data-toggle" => "tooltip", :title => "", :"data-original-title" => "#{truncate(task.text, :length => 168)}", :style => "cursor:default;" }= truncate(task.title, :length => 45)
						%span.due
							- if !task.tentative_due_date.blank?
								= task.tentative_due_date.strftime("%a, %e %b #{'%y' if DateTime.now.year != task.tentative_due_date.year}")
						%span.completed
							- if !task.complete_date.blank?
								= task.complete_date.strftime("%a, %e %b #{'%y' if DateTime.now.year != task.complete_date.year}")
						= link_to "<button type='button' class='btn btn-default btn-xs pull-right'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, task, html = {:title => "Show"}
:javascript
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
	});
