%p#notice= notice

%h1
	= "(" + @task.sort_order.to_s + ")"
	= link_to @task.job.reference, @task.job if @task.job
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_task_path(@task), html = {:title => "Edit Task"}

- if params[:from] && !params[:from].blank?
	- if params[:from].eql?("job")
		= link_to "<< Return to job", job_path(@task.job)
	- elsif params[:from].eql?("tasklist")
		= link_to "<< Return to Task List", tasklist_jobs_path()
	- else
		= link_to "<< Back", :back
- else
	= link_to '<< All Tasks', tasks_path

%h2= @task.title

.form-horizontal
	.form-group
		%strong.col-sm-3 Text:
		.col-sm-4
			= @task.text

	.form-group
		%strong.col-sm-3 Party A Complete Date:
		.col-sm-4
			= @task.party_a_complete_date.strftime("%d %b %Y") if !@task.party_a_complete_date.blank?

	.form-group
		%strong.col-sm-3 Party B Complete Date:
		.col-sm-4
			= @task.party_b_complete_date.strftime("%d %b %Y") if !@task.party_b_complete_date.blank?

	.form-group
		%strong.col-sm-3 Both parties complete?:
		.col-sm-4
			= @task.two ? "Yes" : "No"

	.form-group
		%strong.col-sm-3 Due Date:
		.col-sm-4
			= @task.tentative_due_date.strftime("%d %b %Y") if !@task.tentative_due_date.blank?

	.form-group
		%strong.col-sm-3 Complete Date:
		.col-sm-4
			= @task.complete_date.strftime("%d %b %Y") if !@task.complete_date.blank?

	.form-group
		%strong.col-sm-3 Financial Task:
		.col-sm-4
			= @task.is_financial ? "Yes" : "No"

	.form-group
		%strong.col-sm-3 Amount:
		.col-sm-4
			= number_to_currency(@task.cost.to_s, unit: "&pound; ".html_safe) if !@task.cost.blank?
