-#%script{ :type=>"text/javascript", :src=>"/jscolor.js" }
- start_date = @job.start_date.blank? ? "" :  @job.start_date.strftime('%d %b %Y')
- med_date = @job.mediation_date.blank? ? "" :  @job.mediation_date.strftime('%d %b %Y')
- start_hour = @job.mediation_time.blank? ? DateTime.now().strftime('%H') : @job.mediation_time.strftime('%H')
- start_minute = @job.mediation_time.blank? ? DateTime.now().strftime('%M') : @job.mediation_time.strftime('%M')

:javascript
	jQuery(function() {
		jQuery( "#job_mediation_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#job_mediation_date" ).datepicker( "option", "defaultDate", "#{med_date}" );
		jQuery( "#job_mediation_time" ).timepicker( { timeFormat: 'HH:mm', hourGrid:4, minuteGrid: 10, hour: "#{start_hour}", minute: "#{start_minute}" } );
		jQuery( "#job_start_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#job_start_date" ).datepicker( "option", "defaultDate", "#{start_date}" );
		jQuery( "#job_enquiry_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#job_enquiry_date" ).datepicker( "option", "defaultDate", "#{DateTime.now().strftime('%d %b %Y')}" );
		jQuery( "#job_completion_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#job_completion_date" ).datepicker( "option", "defaultDate", "#{DateTime.now().strftime('%d %b %Y')}" );
	});

= form_for(@job, :html => { :class => "form-horizontal", :role => "form", :id => "job_form" } ) do |f|
	- if @job.errors.any?
		%div#error_explanation
			%h2
				= pluralize(@job.errors.count, "error")
				prohibited this job from being saved:

			%ul
				- @job.errors.full_messages.each do |msg|
					%li= msg

	#role
	.form-group
		= f.label :reference, :class => "control-label col-sm-2"
		.col-sm-2
			= f.text_field :reference, :class => "form-control", :autofocus => true
		.col-sm-3
			= f.select :status, options_for_select(Job::JobStatus.status_select, @job.status), {}, :class => "form-control"

	.form-group
		= f.label :enquiry_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @job.enquiry_date.blank? ? "" : @job.enquiry_date.strftime("%d %b %Y")
			= f.text_field :enquiry_date, :value => val, :class => "form-control"

	.form-group
		= f.label :start_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @job.start_date.blank? ? "" : @job.start_date.strftime("%d %b %Y")
			= f.text_field :start_date, :value => val, :class => "form-control"

	.form-group
		= f.label :colour, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :colour, :value => @job.colour, :class => "form-control color {hash:true:required:false}"

	.form-group
		= f.label :title, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :title, :class => "form-control"

	.form-group
		= f.label :description, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :text, :class => "form-control", :rows => "5"

	.form-group
		= f.label "Party A", :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :party_a_id, options_for_select([["Please select...",""]]+Contact.for_select_client, @job.party_a_id), {}, :class => "form-control"
		.col-sm-1
			= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('ptya'))"}

	.form-group
		= f.label :legal_rep_a, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :legal_rep1, options_for_select([["Please select...",""]]+Contact.for_select_legal, @job.legal_rep1), {}, :class => "form-control"
		.col-sm-1
			= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('lega'))"}

	.form-group
		= f.label "Party B", :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :party_b_id, options_for_select([["Please select...",""]]+Contact.for_select_client, @job.party_b_id), {}, :class => "form-control"
		.col-sm-1
			= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('ptyb'))"}

	.form-group
		= f.label :legal_rep_b, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :legal_rep2, options_for_select([["Please select...",""]]+Contact.for_select_legal, @job.legal_rep2), {}, :class => "form-control"
		.col-sm-1
			= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('legb'))"}

	.form-group
		= f.label :mediator, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :mediator, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.mediator), {}, :class => "form-control"
		.col-sm-1
			= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('med'))"}

	.div{ :style => "border: 1px solid gray; margin-bottom:10px; padding-left: 20px;" }
		%h2{ :style => "font-weight:strong;" } Possible Mediators
		.form-group
			= f.label :mediator1, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :mediator1, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.mediator1), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('med1'))"}

		.form-group
			= f.label :mediator2, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :mediator2, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.mediator2), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('med2'))"}

		.form-group
			= f.label :mediator3, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :mediator3, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.mediator3), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('med3'))"}

		%h2{ :style => "font-weight:strong;" } Possible Observers
		.form-group
			= f.label :observer1, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :observer1, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.observer1), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('ob1'))"}

		.form-group
			= f.label :observer2, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :observer2, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.observer2), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('ob2'))"}

		.form-group
			= f.label :observer3, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :observer3, options_for_select([["Please select...",""]]+Contact.for_select_mediator, @job.observer3), {}, :class => "form-control"
			.col-sm-1
				= link_to "<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, "", html = {:title => "Add", :onclick => "$(add_contact('ob3'))"}

	.form-group
		= f.label :fees_paid, :class => "control-label col-sm-2"
		.col-sm-5
			.input-group
				%span.input-group-addon &pound;
				= f.text_field :fees_paid, :class => "form-control"

	.form-group
		= f.label :mediation_date, :class => "control-label col-sm-2"
		.col-sm-3
			- val = @job.mediation_date.blank? ? "" : @job.mediation_date.strftime("%d %b %Y")
			= f.text_field :mediation_date, :value => val, :class => "form-control"
		.col-sm-2
			- val = @job.mediation_time.blank? ? "" : @job.mediation_time.strftime("%H:%M")
			= f.text_field :mediation_time, :value => val, :class => "form-control"

	.form-group
		= f.label :completion_date, :class => "control-label col-sm-2"
		.col-sm-5
			- val = @job.completion_date.blank? ? "" : @job.completion_date.strftime("%d %b %Y")
			= f.text_field :completion_date, :value => val, :class => "form-control"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"

	:javascript
		$('[autofocus]:first').focus();

		function add_contact( role ) {
			//alert("Role ="+role);
			//$('input[id=role').val(role);
			//$('#'+role).removeAttr('disabled');
			$('#role').html('<input id="role" name="contact_type" type="hidden" value="'+role+'" />');
			$('#job_form').submit();
		};