%ul.nav.nav-tabs
	%li{ :class => "#{params[:show].blank? || params[:show].eql?(Job::JobStatus::ACTIVE) ? "active" : ""}" }
		= link_to "Active", jobs_path(:show => Job::JobStatus::ACTIVE)
	%li{ :class => "#{ params[:show].eql?(Job::JobStatus::ENQUIRY) ? "active" : ""}" }
		= link_to "Enquiries", jobs_path(:show => Job::JobStatus::ENQUIRY)
	%li{ :class => "#{ params[:show].eql?(Job::JobStatus::COMPLETE) ? "active" : ""}" }
		= link_to "Complete", jobs_path(:show => Job::JobStatus::COMPLETE)
	%li{ :class => "#{ params[:show].eql?(Job::JobStatus::ARCHIVE) ? "active" : ""}" }
		= link_to "Archived", jobs_path(:show => Job::JobStatus::ARCHIVE)

:javascript
$('#myTab a').click(function (e) {
	e.preventDefault()
	$(this).tab('show')
})
