= render :partial => "job_header"

%h2 Parties

%ul.contacts
	= render :partial => "/contacts/contact", :object => @job.party_a if @job.party_a

	= render :partial => "/contacts/contact", :object => @job.party_b if @job.party_b

%h2 Legal Reps

%ul.contacts
	= render :partial => "/contacts/contact", :object => @job.legal_rep_a if @job.legal_rep_a
	= render :partial => "/contacts/contact", :object => @job.legal_rep_b if @job.legal_rep_b

%h2 Mediator

%ul.contacts
	= render :partial => "/contacts/contact", :object => @job.mediator_contact if @job.mediator_contact

%h2 Potential Mediators

%ul.contacts
	= render :partial => "/contacts/contact", :object => @job.mediator_1 if @job.mediator_1
	= render :partial => "/contacts/contact", :object => @job.mediator_2 if @job.mediator_2
	= render :partial => "/contacts/contact", :object => @job.mediator_3 if @job.mediator_3

%h2 Observers

%ul.contacts
	= render :partial => "/contacts/contact", :object => @job.observer_1 if @job.observer_1
	= render :partial => "/contacts/contact", :object => @job.observer_2 if @job.observer_2
	= render :partial => "/contacts/contact", :object => @job.observer_3 if @job.observer_3
