-#%style
-#	- @jobs.each do |job|
-#		= ".h#{job.id}:hover { border: 1px solid red; }"
.pull-right
	= link_to '<span class="glyphicon glyphicon-plus"></span> New Job'.html_safe, new_job_path, :class => "btn btn-default"


%h1 Jobs Listing

= render :partial => "jobs_header"

-#.task-list-holder.pull-right{ :style => "max-height:1000px; overflow-y:scroll;" }
-#	= render :partial => "shared/tasklist", :object => @tasks if @tasks.any?

.job-list
	%ul
		- class_list = ""
		- @jobs.each do |job|
			- class_list += "'j#{job.id}', "
			%li.job{ :class => "j#{job.id}", :onclick => "location.href='" + job_path(job) + "'", :style => "background-color: ##{job.colour ? job.colour : '428bca'}; color: #{job.foreground_colour};" }
				%h2
					= job.reference.to_s
					%br
					= job.parties
				= job.title
				%br
				= job.mediation_date.strftime("%d-%b-%Y %H:%M") if job.mediation_date
			-# = "&nbsp;&nbsp;&nbsp;".html_safe
			-# &nbsp;&nbsp;&nbsp;
			-# = link_to 'Edit', edit_job_path(job)
			-# &nbsp;&nbsp;&nbsp;
			-# = link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

			-#.col-sm-3
			-#	.panel{ :class => "job-height panel-primary" }
			-#		.panel-heading.hand{ :onclick => "location.href='" + job_path(job) + "'"}
			-#			= job.reference.to_s
			-#			= job.party_a.blank? ? "? A" : ("<strong>"+job.party_a.la-#st_name.to_s+"</strong>").html_safe
			-#			v
			-#			= job.party_b.blank? ? "? B" : ("<strong>"+job.party_b.last_name.to_s+"</strong>").html_safe
			-#		.panel-body.job-height= job.title.to_s + " - " + job.text.to_s
			-#		-# ptyA = job.party_a.last_name if job.party_a
			-#		-# ptyB = Contact.where("contacts.id=?",job.party_b_id).fi-#rst if job.party_b_id
			-#		-# ptyA = Contact.where("contacts.id=?",job.party_a_id).first if job.party_a_id
-#
			-#		.panel-footer
			-#			-# n.last_name.to_s
			-#			-#.panel-footer= ptyA.last_name.to_s + " and " + job.party_b_id.to_s
			-#	-#= debug job.party_a

%div{ :style => "clear:both;" }

- class_list = class_list[0..class_list.length-3]
%script
	// see: http://stackoverflow.com/questions/12786810/css-hover-on-element-and-highlight-all-with-same-class
	$(document).ready(function(){

	var classes = [#{class_list}]; //list of your classes
	var elms = {};
	var n = {}, nclasses = classes.length;
	function changeColor(classname, color) {
	var curN = n[classname];
	for(var i = 0; i < curN; i ++) {
	elms[classname][i].style.backgroundColor = color;
	}
	}
	for(var k = 0; k < nclasses; k ++) {
	var curClass = classes[k];
	elms[curClass] = document.getElementsByClassName(curClass);
	n[curClass] = elms[curClass].length;
	var curN = n[curClass];
	for(var i = 0; i < curN; i ++) {
	elms[curClass][i].onmouseover = function() {
	changeColor(this.className, "yellow");
	};
	elms[curClass][i].onmouseout = function() {
	changeColor(this.className, "white");
	};
	}
	};

	});
