:javascript
	jQuery(function() {
		jQuery( "#note_the_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#note_the_date" ).datepicker( "option", "defaultDate", "#{@note.the_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @note.the_date.strftime('%d %b %Y')}" );
	});

.center-block
	%p#notice= notice

	- if @job.tasks.any?
		.task-list-holder.pull-right
			%buttonbtn.btn-default.btn-xs{ :type => "button", :title => "Show/Hide Completed", :onclick => "jQuery('.complete').toggle();", :style => "cursor:pointer;" }
				%span.glyphicon.glyphicon-zoom-in
			= render :partial => "shared/tasklist", :object => @job.tasks

	%H1
		= @job.reference
		= @job.party_a.blank? ? "?" : link_to( @job.party_a_name, contact_path(@job.party_a, :from => "job") )
		v
		= @job.party_b.blank? ? "?" : link_to( @job.party_b_name, contact_path(@job.party_b, :from => "job") )
		= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_job_path(@job), html = {:title => "Edit", :style => "cursor:pointer;"}

	= link_to '<< All  Jobs', jobs_path
	
	%h2= @job.title


	.form-horizontal{ :style => "width: 74%; float: left;" }
		.form-group
			%strong.col-sm-3 Status:
			.col-sm-4
				= Job::JobStatus::NAMES[@job.status]
				%em
					= " (" + @job.start_date.strftime("%d-%b-%Y") + ")" if @job.start_date

		.form-group
			%strong.col-sm-3 Text:
			.col-sm-4
				= @job.text

		.form-group
			%strong.col-sm-3 Legal Rep A:
			.col-sm-4
				= @job.legal_rep_a.blank? ? "<em>No Legal Rep</em>".html_safe : link_to(@job.legal_rep_a.full_name, contact_path(@job.legal_rep_a, :from=>"job"))

		.form-group
			%strong.col-sm-3 Legal Rep B:
			.col-sm-4
				= @job.legal_rep_b.blank? ? "<em>No Legal Rep</em>".html_safe : link_to(@job.legal_rep_b.full_name, contact_path(@job.legal_rep_b, :from=>"job"))

		.form-group
			%strong.col-sm-3 Mediator:
			.col-sm-4
				= @job.mediator_contact.blank? ? "<em>No Mediator</em>".html_safe : link_to(@job.mediator_contact.full_name, contact_path(@job.mediator_contact, :from=>"job"))

		.form-group
			%strong.col-sm-3 Fees Paid:
			.col-sm-4
				= number_to_currency(@job.fees_paid, unit: "&pound; ".html_safe)

		.form-group
			%strong.col-sm-3 Mediation Date:
			.col-sm-4
				= @job.mediation_date.strftime("%d %b %Y %H:%M") if !@job.mediation_date.blank?

	%div{ :style => "clear:left;" }
	%hr

	%h2
		Notes
		%button.btn.btn-default{ :type => "button", :title => "Add", :onclick => "$('.note-form').toggle();" }
			%span.glyphicon.glyphicon-plus


	= form_for(@note, :html => { :class => "form-horizontal note-form", :style => "width: 74%; float: left; display:none;", :role => "form" }) do |f|
		= hidden_field_tag :from, "job"
		= f.hidden_field :job_id
		.form-group
			= f.label :Date, :class => "control-label col-sm-2"
			.col-sm-5
				- val = @note.the_date.blank? ? (@note.created_at.blank? ? DateTime.now.strftime("%d %b %Y") : @note.created_at.strftime("%d %b %Y")) : @note.the_date.strftime("%d %b %Y")
				= f.text_field :the_date, :value => val, :class => "form-control autofocus"

		.form-group
			= f.label :title, :class => "control-label col-sm-2"
			.col-sm-5
				= f.text_field :title, :class => "form-control autofocus"

		.form-group
			= f.label :text, :class => "control-label col-sm-2"
			.col-sm-5
				= f.text_area :text, :class => "form-control", :rows => "5"

		.form-group
			= f.label :type, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :note_type, options_for_select(Note::NoteType.for_select, @note.note_type), {}, :class => "form-control"

		.form-group
			= f.label :cost, :class => "control-label col-sm-2"
			.col-sm-5
				.input-group
					%span.input-group-addon &pound;
					= f.number_field :cost, :class => "form-control", :step => "any"
			.col-sm-2
				.checkbox
					%label
						= f.check_box :paid
						Paid 

		.form-group
			= f.label :time_taken, :class => "control-label col-sm-2"
			.col-sm-5
				= f.number_field :time_taken, :class => "form-control", :step => "any"

		.form-group
			= f.label :mileage, :class => "control-label col-sm-2"
			.col-sm-5
				= f.number_field :mileage, :class => "form-control", :step => "any"

		.actions
			.col-sm-offset-2
				= f.submit class: "btn btn-primary"

	%table.table.table-striped{ :style => "width: 74%; float: left;" }
		- @job.notes.order("the_date desc").each do |n|
			%tr
				%td= Note::NoteType::NAMES[n.note_type]
				%td= n.the_date.strftime("%d %b") if !n.the_date.blank?
				%td{ :title => n.text }= n.title
				%td.text-right{ :class => "#{'paid' if n.paid}" }
					= number_to_currency(n.cost.to_s, unit: "&pound; ".html_safe) if !n.cost.blank?
				%td.text-right= n.time_taken.to_s + " h".html_safe if !n.time_taken.blank?
				%td.text-right= n.mileage.to_s + " mi".html_safe if !n.mileage.blank?
				-# if is_admin?
				%td= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_note_path(n, :from => "job"), html = {:title => "Edit"}
%div{ :style => "clear:both;" }

