:javascript
	jQuery(function() {
		jQuery( "#note_the_date" ).datepicker( { dateFormat: 'dd M yy' } );
		jQuery( "#note_the_date" ).datepicker( "option", "defaultDate", "#{@note.the_date.blank? ? DateTime.now().strftime('%d %b %Y') :  @note.the_date.strftime('%d %b %Y')}" );
	});

.center-block
	%p#notice= notice

	- if @job.tasks.any?
		%div.pull-right
			%buttonbtn.btn-default.btn-xs{ :type => "button", :title => "Show/Hide Completed", :onclick => "jQuery('.complete').toggle();" }
				%span.glyphicon.glyphicon-zoom-in
	= render :partial => "shared/tasklist", :object => @job.tasks

	%H1= @job.ref

	%h2= @job.title

	%p
		%strong Text:
		= @job.text

	%p
		%strong Legal Rep:
		= @job.legal_representative.blank? ? "<em>No Legal Rep</em>".html_safe : @job.legal_representative.full_name

	%p
		%strong Mediator:
		= @job.mediator_contact.blank? ? "<em>No Mediator</em>".html_safe : @job.mediator_contact.full_name

	%p
		%strong Fees Paid:
		= number_to_currency(@job.fees_paid, unit: "&pound; ".html_safe)

	%p
		%strong Mediation Date:
		= @job.mediation_date

	= link_to 'Edit', edit_job_path(@job)
	|
	= link_to 'Index', jobs_path
	|
	= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure you want to DELETE this job?' }

	%hr

	%h2 Notes
	= form_for(@note, :html => { :class => "form-horizontal", :style => "width: 74%; float: left;", :role => "form" }) do |f|
		= hidden_field_tag :from, "job"
		= f.hidden_field :job_id
		.form-group
			= f.label :Date, :class => "control-label col-sm-2"
			.col-sm-5
				- val = @note.the_date.blank? ? (@note.created_at.blank? ? DateTime.now.strftime("%d %b %Y") : @note.created_at.strftime("%d %b %Y")) : @note.the_date.strftime("%d %b %Y")
				= f.text_field :the_date, :value => val, :class => "form-control autofocus"

		.form-group
			= f.label :title, :class => "control-label col-sm-2"
			.col-sm-5
				= f.text_field :title, :class => "form-control autofocus"

		.form-group
			= f.label :text, :class => "control-label col-sm-2"
			.col-sm-5
				= f.text_area :text, :class => "form-control", :rows => "5"

		.form-group
			= f.label :type, :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :note_type, options_for_select(Note::NoteType.for_select, @note.note_type), {}, :class => "form-control"

		.form-group
			= f.label :cost, :class => "control-label col-sm-2"
			.col-sm-5
				.input-group
					%span.input-group-addon &pound;
					= f.number_field :cost, :class => "form-control", :step => "any"
			.col-sm-2
				.checkbox
					%label
						= f.check_box :paid
						Paid 

		.form-group
			= f.label :time_taken, :class => "control-label col-sm-2"
			.col-sm-5
				= f.number_field :time_taken, :class => "form-control", :step => "any"

		.form-group
			= f.label :mileage, :class => "control-label col-sm-2"
			.col-sm-5
				= f.number_field :mileage, :class => "form-control", :step => "any"

		.actions
			.col-sm-offset-2
				= f.submit class: "btn btn-primary"

	%table.table.table-striped{ :style => "width: 74%; float: left;" }
		- @job.notes.order("the_date").each do |n|
			%tr
				%td= n.note_type
				%td= n.the_date.strftime("%d %b") if !n.the_date.blank?
				%td{ :title => n.text }= n.title
				%td.text-right= number_to_currency(n.cost.to_s, unit: "&pound; ".html_safe) if !n.cost.blank?
				%td.text-right= n.time_taken.to_s + " h".html_safe
				-# if is_admin?
				%td= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_note_path(n, :from => "job"), html = {:title => "Edit"}