.center-block
	%p#notice= notice

	-##list-group{ :style => "float:right;" }
	#list-group.pull-right
		/ Float right stuff
		- @job.tasks.each do |t|
			%div{ :class => "list-group-item list-group-item-success collapsed hand#{' financial' if t.is_financial}#{' complete' if t.task_complete?}", :"data-toggle" => "collapse", :"data-target" => "#comp#{ t.id }" }
				= t.title
				= " (" + t.due_date_text + ")"
			%div{ :id => "comp#{ t.id }", :class => "collapse", :style => "height: 0px;" }
				.checkbox
					%label
						= check_box :task, :party_a_complete_date, :onclick => "complete_party_a( #{t.id} );", :checked => t.a_complete?
						= t.job.party_a_name

				.checkbox
					%label
						= check_box :task, :party_b_complete, :onclick => "complete_party_b( #{t.id} );", :checked => t.b_complete?
						= t.job.party_b_name

	%H1= @job.title

	%h2
		%strong Reference:
		= @job.reference
		= @job.party_a.blank? ? "<em>No Party A</em>".html_safe : @job.party_a.full_name
		v
		= @job.party_b.blank? ? "<em>No Party B</em>".html_safe : @job.party_b.full_name

	%p
		%strong Text:
		= @job.text

	%p
		%strong Legal Rep:
		= @job.legal_representative.blank? ? "<em>No Legal Rep</em>".html_safe : @job.legal_representative.full_name

	%p
		%strong Mediator:
		= @job.mediator_contact.blank? ? "<em>No Mediator</em>".html_safe : @job.mediator_contact.full_name

	%p
		%strong Fees Paid:
		= number_to_currency(@job.fees_paid, unit: "&pound; ".html_safe)

	%p
		%strong Mediation Date:
		= @job.mediation_date

	= link_to 'Edit', edit_job_path(@job)
	|
	= link_to 'Index', jobs_path
	|
	= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure you want to DELETE this job?' }

%hr

%h2 Notes
= form_for(@note, :html => { :class => "form-horizontal", :role => "form" }) do |f|
	= f.hidden_field :job_id
	.form-group
		= f.label :title, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :title, :class => "form-control autofocus"

	.form-group
		= f.label :text, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :text, :class => "form-control", :rows => "5"

	.form-group
		= f.label :type, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :note_type, options_for_select(Note::NoteType.for_select, @note.note_type), {}, :class => "form-control"

	.form-group
		= f.label :cost, :class => "control-label col-sm-2"
		.col-sm-5
			.input-group
				%span.input-group-addon &pound;
				= f.number_field :cost, :class => "form-control", :step => "any"

	.form-group
		= f.label :time_taken, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :time_taken, :class => "form-control", :step => "any"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"

%ul
	- @job.notes.each do |n|
		%li= n.title