%h1 Editing user

= render 'form'

.col-sm-offset-2
	= gravatar_for @user
	= link_to "change", "http://gravatar.com/emails", :target => "_blank"

%div
	%br
	%br
	%br
	%br

	= link_to 'Show', @user
	|
	= link_to 'Index', users_path
