%p#notice= notice

.col-sm-4
	.row
		%aside.span4
			%section
				%h1
					= gravatar_for(@user)
					= @user.name
			= @user.email

%div{ :style => "clear:both;" }
%br
%br

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Index', users_path
