- if tasklist.any?
	.task-list
		-#list-group
		%ul{ :style => "padding-left:0px;" }
			/ Float right stuff
			- tasklist.each do |t|
				%li{ :id => "li#{t.id}" }
					-#%a{ :href => "#{task_path(t)}", :class => "list-group-item list-group-item-success #{'financial' if t.is_financial} #{'complete' if t.task_complete?}" }
					%div{ :id => "t#{t.id}", :style => "background-color:##{t.job.colour if t.job}; color: #{t.job.foreground_colour if t.job}; #{'display:none;' if t.task_complete?}", :class => "list-group-item list-group-item-success collapsed j#{t.job.id if t.job} hand #{'complete' if t.task_complete?}", :"data-toggle" => "collapse", :"data-target" => "#comp#{ t.id }" }
						- if t.task_complete?
							%span.glyphicon.glyphicon-ok
						- if t.is_financial
							%span.glyphicon.glyphicon-gbp
						= t.title
						= " (" + t.due_date_text + ")"
					%div{ :id => "comp#{ t.id }", :class => "collapse", :style => "height: 0px;" }
						%div.pull-right
							= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_task_path(t, :from => "job"), html = {:title => "Edit", :style => "cursor:pointer;"}
							= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, t, method: :delete, data: { confirm: "Are you sure you want to DELETE this task?\n (#{t.title})" }, :html => { :title => "Destroy", :style => "cursor:pointer;"}

						= render :partial => "shared/checkboxes", :object => t
