.pull-right= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, @task, method: :delete, data: { confirm: "Are you sure you want to DELETE this contact?\n (#{@contact.full_name})" }, :title => "Destroy" if is_admin?

%h1
	Editing contact
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, @contact, :title => "Show contact"

= link_to '<< All Contacts', contacts_path

= render 'form'
