= render :partial => "header"

.form-horizontal
	.form-group
		%strong.col-sm-3 Company:
		.col-sm-4
			= @contact.company

	.form-group
		%strong.col-sm-3 Phone:
		.col-sm-4
			= @contact.phone

	.form-group
		%strong.col-sm-3 Email:
		.col-sm-4
			= @contact.email

	.form-group
		%strong.col-sm-3 Address:
		.col-sm-4
			= @contact.address

	.form-group
		%strong.col-sm-3 Post code:
		.col-sm-4
			= @contact.post_code

	.form-group
		%strong.col-sm-3 Text:
		.col-sm-4
			= @contact.text

	.form-group
		%strong.col-sm-3 Is a:
		.col-sm-4
			= " Client " if @contact.client
			= " Mediator " if @contact.mediator
			= " Solicitor " if @contact.solicitor
