= form_for(@template_task, :html => { :class => "form-horizontal", :role => "form" } ) do |f|
	- if @template_task.errors.any?
		#error_explanation
			%h2
				= pluralize(@template_task.errors.count, "error")
				prohibited this template_task from being saved:

			%ul
				- @template_task.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :sort_order, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :sort_order, :class => "form-control"

	.form-group
		= f.label :title, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :title, :class => "form-control"

	.form-group
		= f.label :"Days until due", :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :due_days, :class => "form-control"

	.form-group
		= f.label :text, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :text, :class => "form-control", :rows => "5"

	.form-group
		.col-sm-offset-2.col-sm-10
			.checkbox
				%label
					= f.check_box :is_financial
					Finincial task 

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"
