<h1>Listing template_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @template_tasks.each do |template_task| %>
      <tr>
        <td><%= template_task.title %></td>
        <td><%= template_task.text %></td>
        <td><%= link_to 'Show', template_task %></td>
        <td><%= link_to 'Edit', edit_template_task_path(template_task) %></td>
        <td><%= link_to 'Destroy', template_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template task', new_template_task_path %>
