%p#notice= notice

%h1
	= @template_task.title
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_template_task_path(@template_task), html = {:title => "Edit Task Template"}

= link_to '<< All Template Tasks', template_tasks_path

.form-horizontal
	.form-group
		%strong.col-sm-3 Sort Order:
		.col-sm-4
			= @template_task.sort_order

	.form-group
		%strong.col-sm-3 Days until due:
		.col-sm-4
			= @template_task.due_days

	.form-group
		%strong.col-sm-3 Both parties complete?:
		.col-sm-4
			= @template_task.two ? "Yes" : "No"

	.form-group
		%strong.col-sm-3 Financial task:
		.col-sm-4
			= @template_task.is_financial ? "Yes" : "No"

	.form-group
		%strong.col-sm-3 Text:
		.col-sm-4
			= @template_task.text
